{% extends "base/layout.html" %} {% block content %}
<div class="card p-2 row form-1 ">
<div class="text-center col ">
    <div class="d-flex flex-row text-center">
        <div class="btn btn-outline-dark text-black mx-1 text-center">
             <h5>List Of Users</h5>
        </div>
        <a class="btn btn-outline-dark text-black mx-1 text-center" href="#">
             <h5>Add Users</h5>
        </a>
    </div>

	

    <form class="col-auto mb-lg-0 me-lg-3 p-2" action="#" >
        {% csrf_token %}
        <input type="search" name="query" class="form-control form-control-dark" placeholder="Enter email or username ">
    </form>
    <div class="table-responsive">
        <table class="table table-sm mt-4 ">
            <thead>
                <tr>
					<th scope="col">
                        No.
                    </th>
                    <th scope="col">
                        Username
                    </th>
                    <th scope="col">
                        First Name
                    </th>
                    <th scope="col">
                        Last Name
                    </th>
                    <th scope="col">
                        Add Grade
                    </th>
                </tr>
            </thead>
            <tbody>
                {% for obj in clist%}
                    <tr>
						<td>{{ obj.pk }}</td>
                        <td>{{ obj.student.user.username }}</td>
                        <td>{{ obj.student.user.first_name }}</td>
                        <td>{{ obj.student.user.last_name }}</td>
                        <td>
							<form method="post" action="{% url 'teacher_add_grade' teacher.pk pid %}" class="row w-100">
						
								{% csrf_token %}

								<input type="text" name="student" value="{{obj.pk}}" hidden>
								<input type="text" name="teacher" value="{{ teacher.pk }}"  hidden>
								<input type="number" name="period" class="pd" hidden required>
                                {% if obj.s_class.all %}
                                {% for grade in obj.s_class.all %} 
                                    {% if grade.teacherClass.pk == teacher.pk and grade.studentClass.pk == obj.pk %} 
                                        <input type="number" name="if_update" value="1" hidden>
                                        <div class="form-floating col-sm-9">
                                            <input type="number" name="grade" class="form-control" value="{{grade.grade|floatformat:"0"}}">
                                            <label >Grade</label>
                                        </div>
                                          
                                    {% else %}
                                        <div class="form-floating col-sm-9">
                                            <input type="number" name="if_update" value="0" hidden>
                                            <input type="number" name="grade" class="form-control">
                                            <label >Grade</label>
                                        </div>
                                    {% endif %}
                                {% endfor %}
                                {% else %}
                                    <div class="form-floating col-sm-9">
                                        <input type="number" name="if_update" value="0" hidden>
                                        <input type="number" name="grade" class="form-control">
                                        <label >Grade</label>
                                    </div>
                                {% endif %}
								<button class="col-sm-3 btn btn-sm btn-outline-dark mt-1" type="submit">submit</button>
							  </form>
                        </td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>


</div>
</div>

{% block scripts %}

	<script>
        var period = document.querySelectorAll('.pd');
        function getPeriod(selectObject) {
            var value = selectObject.value;
            for (n = 0; n < period.length; ++n) {
                period[n].value=value;
            }
          }
	</script>

{% endblock %}




{% endblock %}
