<!DOCTYPE html>

<html>
    {% load static  %}

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login - Brainy School </title>
    
    <link rel="icon" type="image/x-icon" href="{% static 'blog/img/logo.png' %}" />
    <link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}" />
    <script src="{% static 'scripts/tailwind.js' %}"></script>

</head>

<body>
   
    <section class="w-h-screen">
        <div class="flex bg-slate-400 justify-center">
            <div class="">
                <h2 class="uppercase">Login</h2>
                <p>A simple and best school management system.</p>
                <div>
                    <form action="">
                        <input type="email" name="email">
                        <input type="password" name="password">

                    </form>
                </div>
    
            </div>
            <div class="">
    
            </div>
        </div>
        

    </section>

</body>

</html>
