{% extends "base/studentlayout.html" %} {% block main %} {% load static %} {% load sms_extras %}
<main class="content">
    <h1 class="h3 mb-3"><strong>Student Dashboard</strong></h1>
    <div class="row">
        <div class="col-md-12">
            <div class="card">
                <div class="card-body">
                    <div class="table-responsive">
                        <table class="table table-striped">
                            <caption> Your schedule for {{ stClass.studentClass.name }} </caption>
                            <thead>
                                <tr>
                                    <th scope="col">
                                        DAY(S)
                                    </th>
                                    {% for obj in period %}
                                        <th scope="col" id="{{obj.pk}}">
                                            {{ obj.name|upper }} <br>
                                            {{ obj.startTime|time:"g:i" }} - {{ obj.endTime|time:"H:i" }}
                                        </th>
                                    {% endfor %}
                                    
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td>Monday</td>
                                    {% for obj in period %}
                                        <td id="M-{{ obj.pk }}">None</td>
                                    {% endfor %}
                                </tr>
                                <tr>
                                    <td>Tuesday</td>
                                    {% for obj in period %}
                                        <td id="T-{{ obj.pk }}">None</td>
                                    {% endfor %}
                                </tr>
                                <tr>
                                    <td>Wednesday</td>
                                    {% for obj in period %}
                                        <td id="W-{{ obj.pk }}">None</td>
                                    {% endfor %}
                                </tr>
                                <tr>
                                    <td>Thursday</td>
                                    {% for obj in period %}
                                        <td id="Th-{{ obj.pk }}">None</td>
                                    {% endfor %}
                                </tr>
                                <tr>
                                    <td>Friday</td>
                                    {% for obj in period %}
                                        <td id="F-{{ obj.pk }}">None</td>
                                    {% endfor %}
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</main>
{% endblock %}