{% extends "base/layout.html" %}  {% block content %} {% load static %}

  <div class="row">
    <div class="col-md-4" style="margin-top:50px">
    </div>
    <div class="col-md-4" style="margin-top:50px">
      <div class="text-center">
        <img class="text-center" src="{% static 'blog/img/logo.png' %}" alt="" width="60" height="60">
      </div>
      <br>
      <div class="card">
        <div class="card-header">
          <h4 class="text-center">Brainy School</h4>
        </div>
        <div class="card-body">
          <form method="post" action="{% url 'login' %}">
            {% csrf_token %}
            <div class="form-floating">
              <input type="text" name="username" class="form-control" id="floatingInput">
              <label for="floatingInput">Username</label>
            </div><br>
            <div class="form-floating">
              <input type="password" name="password" class="form-control" id="floatingPassword">
              <label for="floatingPassword">Password</label>
            </div>
            <br>
            <button class="btn btn-lg btn-primary form-control text-light" type="submit">Log In</button>
          </form>
        </div>
      </div>
    </div>
    <div class="col-md-4" style="margin-top:50px">
    </div>
  </div>

{% endblock %}